---
title: Home
permalink: /
layout: page
html: true
---
<div style="margin-bottom:5.5rem"></div>
<section id="welcome">
  <div class="container">
{% capture text %}
# Welkom!
Welkom op de wiki van [The Space Leiden](https://spaceleiden.nl?ref=wiki), de hackerspace in Leiden.
Deze wiki is er om gebruikt te worden voor de verschillende gereedschappen en
apparaten die je bij ons kan vinden. Ook kunnen deelnemers hier hun projecten
documenteren.

Momenteel is deze wiki nog in aanbouw en is dus nog niet alle informatie van
onze gereedschappen en apparaten hier te vinden. Wil je zelf iets bijdragen?
Dat kan! Iedereen kan [op GitLab]({{ site.repository | replace: "/-/%s/main", "" }}) deze wiki aanpassen.
{% endcapture %}
{{ text | markdownify }}
  </div>
</section>
