---
title: Tools
permalink: /tools/
layout: page
html: true
---
<div style="margin-bottom:5.5rem"></div>
{% for collection in site.collections %}
{% if collection.label == 'pages' %}
  {% continue %}
{% endif %}
{% if collection.docs.size == 0 %}
 {% continue %}
{% endif %}
<section class="collection" id="{{ collection.label }}">
  <div class="container">
    <h2>
      {{ collection.label | capitalize }}
      {% assign label_size = collection.label | size | minus: 1 %}
      <a href="{{ site.repository | replace: "%s", "blob" }}/_{{ collection.label }}"
         class="btn btn-outline-dark btn-sm float-end"><i class="bi bi-pencil-fill"></i> Add {{ collection.label | slice: 0, label_size }}
      </a>
    </h2>
    <div class="row g-1">
      {% for document in collection.docs %}
        {% if document.hidden %}
          {% continue %}
        {% endif %}
        <div class="p-1 col-lg-6">
          <a href="{{ document.url }}">
            <div class="card bg-dark text-white">
              <img src="{{ document.image | default: site.placeholder }}" class="card-img" alt="{{ document.title }}">
              <div class="card-img-overlay">
                <h5 class="card-title">{{ document.title }}</h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
