{% if page.collection != 'pages' %}
<div class="container">
  <script defer src="https://comments.apps.spaceleiden.nl/js/commento.js"></script>
  <br><br><hr><br><br>
  <h2>Comments</h2>
  <div id="commento"></div>
</div>
{% endif %}
