<div class="spacer"></div>
<section id="wiki-footer" class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-md-12" style="text-align: center;">
        <img src="https://spaceleiden.nl/assets/img/logo.png"><br><br>
        <div>&copy; {{ 'now' | date: "%Y" }} Stichting The Space Leiden</div>
        <div>
          <a href="https://spaceleiden.nl/contact">Contact</a> &bull;
          <a href="https://spaceleiden.nl/privacy-policy">Privacy Policy</a> &bull;
          <a href="https://spaceleiden.nl/algemeen-reglement">Algemeen Reglement</a> &bull;
          <a href="https://spaceleiden.nl/huishoudelijk-reglement">Huishoudelijk Reglement</a>
        </div>
      </div>
    </div>
  </div>
</section>
