{% assign pages = site.pages | sort:"navbar" %}
<div class="container">
  <div class="row" style="margin-bottom: 2rem">
    <div class="col-4">
      <a href="/">
        <img src="https://spaceleiden.nl/assets/img/logo.png" style="width:100%">
      </a>
    </div>
    <div class="col-8">
      <a href="/" class="navbar-title">
        <h2 style="padding-top: 12px">Wiki</h2>
      </a>
    </div>
  </div>
  <ul class="nav flex-column d-grid gap-2">
    <li class="nav-item {% if page.url == '/' %}active{% endif %}">
      <a href="/"><i class="bi bi-house-door-fill"></i> Home</a>
    </li>
    {% for collection in site.collections %}
    {% if collection.output != true or collection.docs.size == 0 or collection.label == 'pages' %}
      {% continue %}
    {% endif %}
    <li class="nav-item {% if page.url contains collection.label %}active{% endif %}">
      <a href="/{{ collection.label }}"><i class="bi bi-{{ collection.icon }}"></i> {{ collection.display_name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
